    </main>

    <footer class="footer">
        <div class="container">
            <p>Laget av Raul Singh - IT eksamen 2026</p>
        </div>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>
