# Hvis Node.js kjører på samme VM som MongoDB:
MONGODB_URI=mongodb://127.0.0.1:27017/eksamenit26

# Hvis Node.js kjører fra Mac-en og MongoDB kjører på VM 10.12.13.217:
# MONGODB_URI=mongodb://10.12.13.217:27017/eksamenit26

PORT=3000
SESSION_SECRET=bytt-denne-teksten
ADMIN_USERNAME=admin
ADMIN_PASSWORD=bytt-dette-passordet
